@charset "utf-8";
/* CSS Document */
body{ margin:0px; padding:0px; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#666666; line-height:20px;}
h1,h2,h3,h4,h5,h6,ul,ul li,dl,dt,dd,p,span,div,img{ margin:0px; padding:0px; list-style:none; border:0px;}
h1{ font-size:30px !important; }
h2{ font-size:24px; color:#FFFFFF;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
li{list-style-type: none;}
A:link {
color:#666666;
 TEXT-DECORATION: none
}
A:visited {
 color:#666666;
 TEXT-DECORATION: none
}
A:hover {
 COLOR: #ff7f24;
 text-decoration: none;
}
A:active {
 color:#666666;
 text-decoration: none;
}
.header{ width:100%; background:#000000; margin:0px; margin:0px; position:relative;}
.header iframe{ height:136px;}
.header_content{ width:1200px; height:136px; margin:0 auto;}
.header_content_logo{ width:180px; height:136px; float:left;}
.header_content_menu{ width:55%; color:#FFFFFF; float:left; margin:80px 0px 21px 0px;}
.header_content_menu ul{ width:100%;}
.header_content_menu ul li{ height:35px; line-height:35px; padding:0px 20px; float:left; position:relative;}
.header_content_menu ul li span{}
.header_content_menu ul li a{ color:#FFFFFF; text-decoration:none;}
.header_content_menu ul li a:hover{ color:#0060ff;}
.header_content_right{ width:300px; float:right; }
.header_content_right_login{ width:260px; height:35px; line-height:35px; color:#999999; float:right; margin:20px 0px 20px 80px;}
.header_content_right_login b a{ color:#999999; text-decoration:none;}
.header_content_right_login b a:hover{ color:#0060ff; text-decoration:underline;}
.header_content_right_search{ width:300px; height:30px;}
.header_content_right_input{ width:264px; height:26px; float:left; line-height:26px; color:#999999; border:1px solid #999999; background:#000000; border-left:none;}

.content{ max-width:1200px; margin:0 auto;}
.content_banner{ width:1200px; padding:15px 0px;}
.content_main{ max-width:1200px;margin: 0 auto;}
.content_main_left{ width:795px; margin:0px 15px 15px 0px; float:left; position:relative;}
.content_main_left p{ width:775px; height:80px; line-height:30px; background:#000000; filter: alpha(opacity=60); opacity: 0.6; position:absolute; bottom:0px; font-size:24px; color:#FFFFFF; padding:10px;}
.content_main_right{ width:390px; margin-bottom:15px; float:right; position:relative;}
.content_main_right_1{ width:390px; margin:0px 15px 15px 0px; float:left; position:relative;}
.content_main_right p{ width:100%; height:100px; background:#000000; filter: alpha(opacity=60); opacity: 0.6; bottom:0px; position:absolute; z-index:1;}
.content_main_right_1 p{ width:370px; height:60px; line-height:24px; background:#000000; filter: alpha(opacity=80); opacity: 0.8; bottom:0px; position:absolute; font-size:16px; color:#FFFFFF; padding:10px;}
.content_main_right span{ width:125px; height:32px; position:absolute; left:50%; margin-left:-62.5px; bottom:25px; z-index:100;}

.Email_Address{ width:100%; background:#e0e0e0; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; float:left;}
.Email_Address_nav{ width:1200px; height:65px; margin:0 auto;}
.Email_Address_nav input{ width:230px; height:30px; line-height:30px; color:#999999; border:1px solid #cccccc; background:#ffffff;}

.foot{ width:100%; background:#000000; float:left; margin:0px 0px;}
.foot_nav{ width:1200px; margin:0 auto;}
.foot_nav_left{ width:700px; float:left; color:#FFFFFF;}
.foot_nav_left ul{ width:200px; padding:20px 0px; float:left;}
.foot_nav_left ul li{ height:24px; line-height:24px; }
.foot_nav_left ul li a{ color:#999999; text-decoration:none;}
.foot_nav_left ul li a:hover{ color:#999999; text-decoration:underline;}
.foot_nav_right{ width:355px; height:70px; float:right;}
.foot_nav_copyright{ width:1200px; color:#999999; float:left; padding:20px 0px;}


.DB_tab25 {width:1200px;height:394px;position:relative;overflow:hidden;cursor:pointer; padding:15px 0px;}
.DB_tab25 .DB_bgSet{position:relative;}
.DB_tab25 .DB_bgSet li{position:absolute;width:1200px;height:394px;display:none;}
.DB_tab25 .DB_imgSet{position:absolute;width:408px;left:50%;margin-left:-100px;}
.DB_tab25 .DB_menuWrap{position:absolute;width:1200px;left:50%;margin-left:-500px;}
.DB_tab25 .DB_menuWrap .DB_menuSet{position:absolute;width:1200px;top:360px; left:50%;margin-left:-142px;}
.DB_tab25 .DB_menuWrap .DB_menuSet li{cursor:pointer;margin:0 3px;display:inline}
.DB_tab25 .DB_prev{position:absolute;left:-80px;top:170px;cursor:pointer;display:none}
.DB_tab25 .DB_next{position:absolute;right:120px;top:170px;cursor:pointer;display:none}

.shop_left{ width:276px; height:360px; float:left; margin:20px 30px 20px 0px; position:relative;}
.shop_left img{ width:276px; height:310px;}
.shop_left p{ font-family: Impact; width:256px; height:30px; line-height:30px; background:#000000; filter: alpha(opacity=80); opacity: 0.8; position:absolute; bottom:0px; font-size:28px; color:#FFFFFF; padding:10px;}
.shop_right{ width:278px; height:360px; float:left; margin:20px 30px 20px 0px;}
.shop_right_1{ width:278px; height:260px; float:left; margin:20px 0px;}
.shop_right_cp{ width:278px; height:278px;}
.shop_right_cp p{ font-weight:bold; margin-top:10px;}
.shop_right_cp img{ max-width:278px; max-height:278px;}

.shop_nr_left{ width:228px; height:305px; float:left; margin:15px 15px 15px 0px;}
.shop_nr_left p,.shop_nr_left_1 p{ height:40px; overflow:hidden}
.shop_nr_left_1{ width:228px; height:225px; float:left; margin:15px 0px 15px 0px;}
.shop_nr_left_cp{ width:228px; height:220px;}
.shop_nr_left_cp img{ max-width:220px; max-height:220px;}

.shop_right p{ height:35px;}
.shop_right_1 p{ height:35px;}
.shop_nr_Purchased_left{ width:836px; float:left; margin:0px 30px 15px 0px; border:1px solid #e0e0e0;}
.shop_nr_Purchased_left_main{ width:836px;}
.shop_nr_Purchased_left_cp{ width:435px; height:470px; float:left; margin:20px;}
.shop_nr_Purchased_left_wz{ width:351px; height:auto; float:right; margin:20px 10px 0px 0px;}
.shop_nr_Purchased_left_bottom{ width:796px; margin:20px;}
.shop_nr_Purchased_right{ width:330px; float:right; margin-bottom:15px; border:1px solid #e0e0e0;}
.shop_nr_Purchased_right dl{ width:300px; padding:8px 15px; float:left;}
.shop_nr_Purchased_right dl dt{ width:120px; height:105px; float:left;}
.shop_nr_Purchased_right dl dd{ width:170px;  float:right; padding-left:10px;}
.shop_nr_Purchased_Leave{ width:300px; height:150px; border:1px solid #e0e0e0;}

.comments{ max-width:1200px; margin:0 auto;}
.comments dl{ width:100%; float:left;}
.comments dl dt{ width:47px; height:47px; float:left;}
.comments dl dd{ max-width:1133px; float:left; padding:3px 10px 0px 10px;}


.lists1_ img{ max-width:150px; max-height:120px;}


.shop_nr_Purchased_left_wz_nav{ width:120px; height:40px; background:#FFFFFF; border:1px solid #e0e0e0; padding:10px; float:left; margin:0px 10px 10px 0px;}
.shop_nr_Purchased_left_wz_nav a{ width:120px; height:40px; background:#e5e5e5; display:block; color:#666666; text-decoration:none;}

.showpage .col-main{max-width: 1200px;margin: 0 auto;}




@charset "utf-8";
/* CSS Document */
.forum_index_left{ width:800px; float:left;}
.forum_index_left_1{ width:56%; float:left;border-bottom: 1px dashed #20a3fe;}
.forum_index_right{ width:400px; float:right; padding-top:25px;}
.forum_index_right_1{ width:50%; float:right; padding-top:25px;}
.forum_index_right_go{ width:44%; float:right;border-bottom: 1px dashed #20a3fe;line-height: 30px;}
.forum_index_right_go_select{ width:120px; height:25px; line-height:25px; border:1px solid #CCCCCC;}
.forum_index_right_go ul li{ padding:0px 10px 0px 2px; float:left; font-size:16px;}
.forum_index_right_go ul li a{ padding:0px 16px 0px 16px; float:left; font-size:16px;  text-decoration:none; }
.forum_index_right_go ul li a:hover{color:#20a3fe}
.blogh{  margin-bottom: 10px;overflow: hidden;}


.bpp1{padding:20px; font-size:18px; line-height:30px;}
.bpp2{padding:0px 20px 20px 20px;}
.bpp3{padding:0px 20px 10px 20px;height: 50px;}
.bpp4{margin:0px 20px 0px 20px; padding:0px; background:#333333; width:163px; height:30px; background:#ff6600; color:#FFFFFF; text-align:center; line-height:30px; font-size:16px;}
.bpa{display: inline-block;}



.forum_General{ width:1200px; margin:0 auto; padding-top:30px;}
.forum_General ul{ width:1200px; list-style:none;}
.forum_General ul li{ height:60px; line-height:60px; list-style-type:none; border:0px; border-bottom:1px solid #e0e0e0;}
.forum_General_left{ width:823px;height:270px; float:left;}
.forum_General_right{ width:377px; height:270px; float:right; background:#e0e0e0;}
.forum_General_tab{ width:700px; height:40px; line-height:40px; color:#FFFFFF; font-size:16px; font-weight:bold; float:left; padding-left:20px;}
.forum_General_tab_1{ width:100px; height:40px; line-height:40px; color:#FFFFFF; font-size:16px; font-weight:bold; float:left; text-align:center;}
.forum_General_tab_2{ width:200px; height:40px; line-height:40px; color:#FFFFFF; font-size:16px; font-weight:bold; float:left; padding-left:20px;}
.forum_General_tab_img{ width:30px; height:32px; padding: 14px 10px 14px 20px; float:left;}
.forum_General_tab_tr{ width:660px; height:60px; float:left; line-height:20px; }
.forum_General_tab_tr_1{ width:100px; height:60px; float:left; line-height:60px; font-size:14px; text-align:center;}
.forum_General_tab_tr_2{ width:200px; height:60px; float:left; line-height:20px; padding-left:20px;}
.forum_General_page{ width:1200px; margin:0 auto; text-align:center; font-size:14px; padding:20px 0px;}
.forum_General_page span{ background:#b4b4b5; color:#FFFFFF; padding: 5px 10px;}
.forum_General_page a{ padding: 5px 10px; background:#b4b4b5; text-decoration:none; color:#FFFFFF; margin-right:5px;}
.forum_General_page a:hover{ background:#ff6600; text-decoration:none;}

.forum_reply{ width:1200px; margin:0 auto; background:#f3f3f3; position:relative;}
.forum_reply_user{ width:170px; float:left; background:#e9e9e9; padding:20px;}
.forum_reply_user b{ width:150px; float:left; font-size:14px; font-weight:bold; line-height:30px; padding:10px 20px 10px 10px; border-bottom:1px dashed #999999;}
.forum_reply_wz{ width:950px; float:right; padding:20px; }
.forum_reply_QUOTE{ width:75px; height:24px; right:20px; bottom:20px; position:absolute;}
.forum_post_reply{ width:1200px; padding:20px 0px; margin:0 auto;}
.forum_post_reply_inpur{ width:300px; height:30px; border:1px solid #e0e0e0; margin-bottom:20px;}
.forum_post_reply_1{ width:600px; padding:20px 0px; float:left;}
.forum_post_reply_inpur_1{ width:600px; height:30px; border:1px solid #e0e0e0; margin-bottom:20px;}



.sb-search {position: relative;margin-top: 10px;width: 0%;min-width: 43px;height: 43px;float: right;overflow: hidden;-webkit-transition: width 0.3s;-moz-transition: width 0.3s;
transition: width 0.3s;-webkit-backface-visibility: hidden;}

.sb-search-input {position: absolute;top: 0;right: 0;outline: none;background: #fff;width: 75%;height: 38px;margin: 0;z-index: 10;padding: 3px 50px 0px 10px;
 border:1px solid #e0e0e0;}
.sb-icon-search,
.sb-search-submit  {width: 43px;height: 43px;display: block;position: absolute;right: 0;top: 0;padding: 0;margin: 0;line-height: 43px;text-align: center;cursor: pointer;}
.sb-search-submit {background: #fff; /* IE needs this */-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
filter: alpha(opacity=0); /* IE 5-7 */
opacity: 0;color: transparent;border: none;outline: none;z-index: -1;}
.sb-icon-search {background:url(../images/forum_search.jpg) no-repeat; z-index: 90;}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {width: 100%;}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {background:url(../images/forum_search.png) no-repeat;z-index: 11;}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {z-index: 90;}


/* learn */

.brand-list{width:1200px;margin:0 auto;}
.brand-list .item{position:absolute;width:370px;background:url(../images/132.gif) no-repeat;top:0;left:40%;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s;}
.brand-list .additem{width:370px;border:none;}
.brand-list .item h3{font-size:16px;color:#fff;height:100px; line-height:24px; background:#000000; filter: alpha(opacity=80); opacity: 0.8; z-index:1;}
.brand-list .item span{ width:22px; height:16px; position:absolute; left:20%; margin-left:-62.5px; bottom:25px; z-index:100;}
.boxgrid{width:370px;height:227px;overflow:hidden;position:relative;}
.boxgridq{width:370px;height:488px;overflow:hidden;position:relative;}
.item .boxgrid h3{padding:10px;letter-spacing:-1px;font-weight:normal;}
.boxgrid img{position:absolute;top:0;left:0;border:0;}
.boxgrid p{color:#afafaf;}	
.boxgrid p a{text-decoration:none;}
.boxcaption{float:left;position:absolute;background:url(../images/28.png);height:200px;width:100%;}
.boxcaptiona{float:left;position:absolute;background:url(../images/28.png);height:200px;width:100%;}
.caption .boxcaption{top:165px;left:0px;}
.captiona .boxcaptiona{top:427px;left:0px;}


.blog_General{ max-width:1200px; margin:0 auto; padding:20px 0px 5px 0px;}
.blog_General_left{ width:68%; float:left;}
.blog_General_left a img{width: 100%;}
.blog_General_left a{display: table-cell;vertical-align: central;}
.blog_General_right{ width:31.6%; padding-bottom:17.5px;float:right; background:#e0e0e0;}
.blog_nr_Purchased_left{ width:65%; float:left; margin:10px 0px 10px 0px;}
.blog_nr_Purchased_right{ width:33%; float:right; margin:10px 0px 10px 0px;}
.blog_nr_Purchased_right dl{ width:100%; float:left;}
.blog_nr_Purchased_right dl dt{ width:47px; height:47px; float:left;}
.blog_nr_Purchased_right dl dd{ width:60%;  float:left;margin-left:10px}

@media only screen and (max-width: 771px)  {
.blog_General_left{ width:100%; float:none;}
.blog_General_right{width:100%; float:none;}
}

.video_main_right{ width:390px; float:right; position:relative;}
.video_main_right_1{ width:390px; margin:0px 10px 10px 0px; float:left; position:relative;border: 1px dashed #f90;}
.video_main_right p{ width:330px; height:30px; line-height:30px; background:#000000;  bottom:0px; position:absolute; z-index:1; font-size:16px; color:#FFFFFF; padding:10px; padding-left:50px;}
.video_main_right_1 p{text-align: center;background:#555;padding:5px }
.video_main_right_1 span{ width:34px; height:39px; position:absolute; left:10px; bottom:5px; z-index:100;}
.video_main_right span{ width:34px; height:39px; position:absolute; left:10px; bottom:5px; z-index:100;}
.video_main_right_1:hover{border: 1px solid #20a3fe;}
.video_main_right_1:hover p a{color:#20a3fe}
.video_nr_Purchased_left{ width:836px; float:left; margin:20px 30px 10px 0px;}
.video_nr_Purchased_right{ width:330px; float:right; margin:20px 0px 10px 0px; border:1px solid #e0e0e0;}
.video_nr_Purchased_right dl{ width:330px; padding:0px; float:left;}
.video_nr_Purchased_right dl dt{ width:120px; height:68px; padding:10px; float:left;}
.video_nr_Purchased_right dl dd{ width:175px; height:68px;   float:right; padding:10px 5px 10px 10px;}
.video_nr_Purchased_right a:hover dd,.video_nr_Purchased_right a:hover dt{ background:#e5e5e5; font-size:16px;}
.video_nr_tp{ width:1200px; margin:0 auto;}
.video_nr_Purchased_nr{ width:228px; float:left; margin:20px 15px 10px 0px;}
.video_nr_Purchased_nr dl{ width:228px; float:left;}
.video_nr_Purchased_nr dl dt{ width:228px; height:140px; float:left;}
.video_nr_Purchased_nr dl dd{ width:206px;  float:left;}
.video_nr_Purchased_nr_1{ width:228px; float:right; margin:20px 0px 10px 0px;}
.video_nr_Purchased_nr_1 dl{ width:228px; float:left;}
.video_nr_Purchased_nr_1 dl dt{ width:228px; height:140px; float:left;}
.video_nr_Purchased_nr_1 dl dd{ width:206px;  float:left;}

.wiki{ width:100%; height:100%; margin:0 auto;}
.wiki_left{ width:14%; float:left; background:url(../images/wiki_bj.jpg) repeat-x;}
.wiki_left_logo{ width:80%; height:82px; float:left; padding:30px 0px 50px 30px;}
.wiki_left_meau{width:80%; float:left;padding:30px 0px 50px 30px;}
.wiki_left ul{ width:100%; }
.wiki_left ul li{ width:100%; height:24px; float:left; font-size:13px;}
.wiki_left ul li a{ text-decoration:none;}
.wiki_right{ width:86%; float:right; background:url(../images/wiki_bj.jpg) repeat-x;}
.wiki_right_meau{ width:99%; height:95px; float:right; position:relative;}
.wiki_right_meau_page{ height:40px; width:40px; background:#FFFFFF; text-align:center; line-height:50px; padding:0px; border:0px; position:absolute; bottom:-1px; left:-2px}

.wiki_right_meau_mainpage{ height:40px; width:70px; text-align:center; line-height:50px; position:absolute; bottom:0px; right:280px; margin:0px; float:right; color:#0051ff;}
.wiki_right_meau_mainpage_1{ height:40px; width:80px; text-align:center; line-height:50px; position:absolute; bottom:0px; right:200px; margin:0px; float:right; color:#0051ff;}
.wiki_right_nav{ width:99%; background:#FFFFFF; border:1px solid #9bd1fa; float:right;}
.wiki_right_nav_nr{ width:96%; margin:0 auto; padding:20px 0px;}
.wiki_right_nav_nr p{ line-height:24px;}
.wiki_right_nav_nr p a{ text-decoration:none;}
.wiki_right_nav_nr ul{ width:100%; padding-top:10px;}
.wiki_right_nav_nr ul li{ width:50%; height:24px; float:left;}
.wiki_right_nav_nr ul li a{ text-decoration:none;}
.wiki_right_nav_nr_contents{ width:210px;background:#f9f9f9; margin:20px 0px; padding:10px; border:1px solid #aaaaaa;}
.wiki_right_nav_nr_contents p{ line-height:24px;}
.wiki_right_nav_nr_contents p a{ text-decoration:none;}

.product_manual_nr{ width:96%; margin:0 auto; padding:20px 0px;}
.product_manual_nr_left{width:60%; float:left;}
.product_manual_nr_left p{ line-height:24px;}
.product_manual_nr_right{width:310px; height:280px; float:right; border:1px solid #CCCCCC; background:#f9f9f9; position:relative;}
.product_manual_nr_right_nr{width:298px; height:245px; border:1px solid #CCCCCC; background:#fff; left:5px; top:5px; position:absolute;}
.wiki_foot{ width:96%; float:right; padding:20px;}
.wiki_foot_wz{ width:500px; float:left;}
.wiki_foot_tp{ width:88px; height:31px; float:right;}

.learn_dt{ width:584px; height:660px; float:left; margin:20px 2% 0px 0px;}
.learn_dt_cp{ width:584px; height:570px;}
.learn_dt_cp_p{ width:564px; height:70px; padding:10px; background:#333333; color:#FFFFFF;}
.learn_left_cp img{width: 100%;}
.learn_left_cp_p a,.learn_left_cp_p a:hover{color:#fff;}
.learn_xt{ width:584px; height:340px; float:right;}
.learn_left{padding:5px;width:23%; float:left; margin:20px 2% 0px 0px;border: 1px dashed #f90;}
.learn_left:hover{border: 1px solid #20a3fe;}
.learn_left_cp{ width:100%;}
.learn_left_cp_p{ width:100%; padding:10px; background:#333333; color:#FFFFFF;}
.learn_right{ width:276px; height:320px; margin:20px 0px 0px 0px; float:right;}
.learn_right_cp{ width:276px; height:260px;}
.learn_right_cp_p{ width:256px; height:40px; padding:10px; background:#333333; color:#FFFFFF;}
.learn_classification{ max-width:1200px; margin-bottom:50px;}
.learn_classification ul{ width:100%;}
.learn_classification ul li{ width:30%; float:left; font-size:16px; line-height:30px;}
.learn_classification ul li a{ color:#666666; text-decoration:none;}
.learn_classification ul li a:hover{ color:#0060ff;}

@media only screen and (max-width: 699px) {
.learn_classification ul li{width:50%}
}

@media only screen and (max-width: 499px) {
.learn_classification ul li{width:100%}
}

.lern_nr_right{ width: 100%; float:right; margin:10px 0px 10px 0px; position:relative;}
.lern_nr_right p{ width:100%; height:60px; position:absolute; background:#000000;  bottom:0px; padding:10px; color:#FFFFFF; z-index:1;}
.lern_nr_right b{ width:330px; height:24px; bottom:5px; right:0px; position:absolute; z-index:100;}
.lern_nr_right img{width: 100%;}
.learn_sunfounder_page{ width:1200px; padding:20px 0px;}
.learn_sunfounder_page a > span{ /*background:#f3f3f3 url(../images/learn_Sunfounder_yuan.png) no-repeat 10px 5px;*/  padding:10px 15px 10px 10px; border:1px dashed #f90;}
.learn_sunfounder_page img{ margin:0px 10px;display: inline;}
.learn_sunfounder_page a{ padding:0px; margin:0px; text-decoration:none; color:#666666}
.learn_sunfounder_page a:hover span{color: #20a3fe;}

.login_logo{ width:145px; height:136px; margin:0 auto; padding:0px;}
.login_nr{ width:320px; margin:50px auto; padding:50px 120px; background:#e5e5e5;}
.login_nr_1{ width:400px; margin:50px auto; padding:50px 120px; background:#e5e5e5;}
.login_copyright{ width:1200px; color:#999999; padding:20px 0px; text-align:center;}
.login_inpur{ width:320px; height:36px; border:1px solid #e0e0e0; margin:5px 0px 20px 0px;}
.login_inpur_1{ width:200px; height:36px; border:1px solid #e0e0e0;}

.Technical_support_Leave{ width:810px; height:200px; border:1px solid #e0e0e0;}

.login_id{ height:34px;}
.login_left{ height:34px; background:url(../images/login_left.png) no-repeat; float:left; width:12px;}
.login_bj{ height:34px; background:url(../images/login_bj.png) repeat-x; padding:5px; line-height:30px; float:left;}
.login_right{ height:34px; background:url(../images/login_right.png) no-repeat; float:left; width:10px;}

.lern_Introduction_Select{ width:100%; height:36px; margin-top:30px;}
.lern_Introduction_Select_left{ width:10px; height:36px; float:left; background:url(../images/Introduction_03.jpg) no-repeat;}
.lern_Introduction_Select_zj{ width:806px; height:36px; float:left; background:url(../images/Introduction_04.jpg) repeat-x; font-size:14px; line-height:36px; padding-left:10px; color:#FFFFFF;}
.lern_Introduction_Select_right{ width:10px; height:36px; float:left; background:url(../images/Introduction_06.jpg) no-repeat;}


.video_main_right_1 p a{
      color: #f90;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
#conj{margin-bottom: 20px;}
.blog_General a.aw-blog-read-more{display: none;}
 .toolbar .sorter{display: none;}
 .toolbar .pager{text-align: center;font-size: 15px;padding-top:10px}
.toolbar  .pages,.toolbar .amount{display: inline-block;margin-bottom: -4px;}
.toolbar  .pages{}
.toolbar  .pages strong{display: none;}
.count-container{}
.toolbar  .pages li{float: left;margin: 0 5px;padding: 0 5px;background: #555;color:#fff;}
.toolbar  .pages li.current{background: #f60;}
.toolbar  .pages li a{color:#fff}
.toolbar .pager .limiter{display: none;}
.toolbar{text-align: center;clear:both;}
 #navs li.bb{background:url(../images/leararr.png)  no-repeat left;padding-left:5px}
  #navs li.seli a{color:#20a3fe;}
 .nopost{clear: both;margin-bottom:15px;}
.posttit{ line-height:40px; font-size:24px;font-weight: bold;color:#f90}
.posthr{border:0px; border-bottom:1px solid #e5e5e5;margin-bottom: 5px;}
.posthrt{border:0px; border-bottom:1px dashed #20a3fe;}
.blog_nr_Purchased_left img, .blog_nr_Purchased_left iframe {
    max-width: 780px;
}
.blog_nr_Purchased_right_re img {
  width: 100%;
}
.comments .ttimg {
    height: 47px;
    width: 47px;
}
.uls ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.uls li {
    background: #999999 none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 14px;
    list-style-type: none;
    margin: 0 15px 10px 0;
    padding: 5px;
    width: auto;
}
.uls li a{color:#fff}
.uls  li:hover {
    background: #cccccc none repeat scroll 0 0;
}
#postComment{margin: 10px auto;max-width: 1200px;}
#postComment .form-list li label{color:#000;font-weight: bold;}
#postComment .form-list a.rm{color:#fff;background: #f60;padding: 3px;}
#postComment .form-button{margin-top: 10px;}
#postComment .form-list a.add-image{background: #555;  color: #fff; padding: 5px;}

.header_content_menu li.learn{position: relative;}
.header_content_menu ul.subm{
    background: #000 none repeat scroll 0 0;
    left: 0;
    position: absolute;
    top: 30px;
    width: 110px;
    z-index: 9999;
    display: none;
}

p.learnpt{
    font-size:16px; 
    line-height:40px;
}

p.learnp{
  border-bottom: 1px dashed #f90;
    font-size: 24px;
    line-height: 35px;
}
table.downloadtable{ border-collapse:separate; border-spacing: 12px;}
.downloadtable td{border-top: 1px dashed #20a3fe;padding-bottom: 20px;}
.learn_sunfounder_page{width:auto; float:left;margin-left: 10px;}
.blog-index-list .breadcrumbs,.blog-post-view .breadcrumbs,.blog-cat-view .breadcrumbs
.video-category-index .breadcrumbs,.video-index-index .breadcrumbs{display: none;}
.clcopyright{display:none;}
.showtitv,.morekit{
    background: #20a3fe none repeat scroll 0 0;
    color: #fff;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    padding: 4px 20px 5px 10px;
    display: inline;   
}
.morekit{line-height: 14px;}
.videotitv{
    background: #20a3fe none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 4px 10px;
    display: inline;    
    font-weight: bold;    
}
.forkit{color:#20a3fe;border-bottom: 1px dashed #999;margin-bottom: 6px;font-size: 14px;font-weight: bold;}
.stvs{
     background: url("../images/larr.png") no-repeat 5px 3px;
    display: inline-block;
    height: 19px;
    width: 20px;
}
.blog-cat-view .breadcrumbs{display: none;}
.cp{clear:both;border-bottom: 1px dashed #20a3fe;}
.vcp{clear:both;border-bottom: 1px dashed #20a3fe;margin-top: 20px;}
.leargt{color: #f90;margin-right: 5px;font-weight: bold;}
.arrimg{    display: inline-block;
    margin-top: -3px;
    vertical-align: middle;}
.ftd{border-bottom: 1px dashed #20a3fe;}
.clnews-index-cate .content p{padding-left:10px}
.arrp{height:20px; border-bottom: 1px dashed #20a3fe;}
.clnews-index-cate .content .arrp{height:22px; border-bottom: 1px dashed #20a3fe;padding-left: 0;margin-left: 10px;font-size: 15px;}
.showtitv-bottom{border-top: 1px dashed #20a3fe;margin-bottom: 5px;}
.morekit{font-size: 14px;}
.category_video a.active img{border: 2px solid #00f;}
.video-category-index .breadcrumbs{display: none;}
h2.category_video{margin-top:5px}
#commends_  .conimg{width: 80px;}
.image_gal img{width: 100%;}
.video_main_right_1{padding:5px}
.blog_General_left a{text-align: center;}
.blog_General_left a img{filter: alpha(opacity=100); opacity:1.0;}
.blog_General_left a img:hover{filter: alpha(opacity=90); opacity: 0.9;}